.breadcrumbs {
  color: var(--black-second);
  font-size: 16px;
  line-height: 20px;
  padding: 12.5px 0;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.05);
}

.breadcrumbs__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.breadcrumbs__list li {
  margin-right: 24px;
  position: relative;
}

.breadcrumbs__list li:last-child {
  margin-right: 0;
}

.breadcrumbs__list li + li {
  display: flex;
  align-items: center;
}

.breadcrumbs__list li + li::before {
  content: '';
  margin-right: 24px;
  width: 20px;
  height: 9px;
  background: url(../images/arrow.svg) no-repeat 50% 50%;
}

.breadcrumbs__list a {
  color: inherit;
  text-decoration: none;
}

.breadcrumbs__list a.breadcrumbs__active {
  color: var(--red);
  font-weight: 700;
}