.prototype{
	background:
    url(../images/gradient_prototype.svg) no-repeat 50% 50%;
}


.phone{
	display: flex;
justify-content:space-between

;}

.phone>img{
	position: relative;
	top: -40px;
	z-index: 10;
}
.prototype__text{
	text-align: center;

}

.plus30{
	color: #89A939;
	font-size: 120px;
	font-weight: 900;
	margin: 0;
	padding: 0;
	
}
.prototu{
	color: #363B46;
font-size: 40px;
font-weight: 900;
margin-top: 21px;
margin-bottom: 32px;
}
.back_prot{
	margin-top: 43px;
	margin-bottom: 111px;
}
.prototype__why{
	display: flex;
	justify-content: space-between;
	text-align: left;
}
.text__why{
	vertical-align: middle;
	
}
.text__why>ul{
	margin: 0;
}
.text__why>img{
	margin:0;
}
.UX{
	margin-bottom: 43px;
padding: 0;
}
.why{
	margin: 35px 0;
	color: #363B46;
font-size: 40px;
font-weight: 900;
}
.social-prototype{
	margin: 24px 0;
}
@media (max-width: 1300px){
	.phone>img{
		max-width: 30%;
	}
	.back_prot{
		max-width: 90%;
	}
	.picture{
		max-width: 35%;
	}

	
}
@media (max-width: 900px){
	.prototype__why{
		display: inline-block;
		align-items: center;
	}
	.picture{
		max-width: 80%;
	}
}